.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: auto;
  padding: 50px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.light-pink-font {
  color: #ffe6ff;
  font-weight: bold;
}

.nav {
  background: #222;
  color: white;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #555 !important;
  color: white !important;
}

div > li {
  text-align: left !important;
}

.collapsible-panel-example-2 {
  color: black !important;
}

img {
  height: 100px !important;
}

.left {
  text-align: left !important;
}

.white > a {
  color: white !important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
